@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Style="padding: 0px !important;">
    <MudContainer Style="
    padding: 20px;
    height: 100vh;">
        <MudContainer Style="padding:10px; border: 2px solid #f5df9e; height: -webkit-fill-available;">
            <div style="text-align: center; height: -webkit-fill-available" class="background">
                <div id="scrollableDiv" style="text-align: center; height: -webkit-fill-available; 
                            overflow-y:auto; overflow-x: hidden;
                            /*-ms-overflow-style: none; scrollbar-width: none;*/
                           " 
                class="position-top">
                    @Body
                </div>
            </div>
        </MudContainer>
    </MudContainer>
</MudContainer>