<div class="times-new-roman">
    <p>UPRZEJMIE PROSIMY</p>
    <p>O POTWIERDZENIE PRZYBYCIA</p>
    <p>DO DNIA 1 LIPCA 2023 R.</p>
    @*ToDo: Implement counter to confirmation*@

    @*ToDo: Implement redirect to confirmation page*@
    <MudButton Variant="Variant.Filled" Style="background-color: #063282; margin-top: 20px;" Color="Color.Info" OnClick="NavigateToConfirm">Potwierdź</MudButton>
</div>
