
<div class="allura">
    <p>Anna Szadurska</p>
    <p>i</p>
    <p>Łukasz Wiśniewski</p>
</div>
<div class="times-new-roman">
    <p>WRAZ Z RODZICAMI</p>
    <p>MAJĄ ZASZCZYT ZAPROSIĆ</p>
</div>
<div class="allura">
    <p>Sz. P. @displayText</p>
</div>
<div class="times-new-roman">
    <p>NA UROCZYSTE PRZYJĘCE</p>
    <p>SAKRAMENTU MAŁŻEŃSTWA</p>
    <p>KTÓRE ODBĘDZIE SIĘ</p>
    <p>5 SIERPNIA 2023 R. O GODZINIE 17:00</p>
    <p>W KOŚCIELE PW. ŚW. JÓZEFA</p>
    <p>RZEMIEŚLNIKA</p>
    <p>I ŚW. FAUSTYNY KOWALSKIEJ</p>
    <p>
        <MapMarkerComponent Text="W ŁUBIANCE" Link="https://goo.gl/maps/g9A9TypxV4yaYRRdA"></MapMarkerComponent>
    </p>
</div>