<div class="times-new-roman">
    <p>PO UROCZYSTOŚCI ZAŚLUBIN</p>
    <p>SERDECZNIE ZAPRASZAMY</p>
    <p>NA PRZYJĘCIE WESELNE,</p>
    <p>KTÓRE ODBĘDZIE SIĘ</p>
    <p>W BIESIADZIE WESELNEJ</p>
    <p>W KUMIALE</p>
</div>