<div class="times-new-roman">
    <p>PO UROCZYSTOŚCI ZAŚLUBIN</p>
    <p>SERDECZNIE ZAPRASZAMY</p>
    <p>NA PRZYJĘCIE WESELNE,</p>
    <p>KTÓRE ODBĘDZIE SIĘ</p>
    <p>W BIESIADZIE WESELNEJ</p>
    <p>
        <MapMarkerComponent Text="W KUMIALE" Link="https://goo.gl/maps/5SeEbf5tAPdwR4mr8"></MapMarkerComponent>
    </p>
</div>