@using Inviter.Web.Guest.Components;

<PageTitle>Wypełnij formularz</PageTitle>


@foreach (var guest in invitation.Guests)
{
    <GuestNameComponent>@guest.FullName</GuestNameComponent>
    <MudCheckBox @bind-Checked="guest.Response.WeddingParty" Label="Czy wybierasz się na wesele?"></MudCheckBox>

    @if (guest.Response.WeddingParty)
    {
        <MudCheckBox @bind-Checked="guest.Response.AfterParty" Label="Czy wybierasz się na poprawiny?"></MudCheckBox>
    }

    @if (invitation.AskForRoom)
    {
        <MudCheckBox @bind-Checked="guest.Response.Accomodation" Label="Czy potrzebujesz noclegu?"></MudCheckBox>
    }
}


@if (invitation.IsAccompanyingPerson && invitation.IsAnyGuestAtWeddingParty)
{
    <MudCheckBox @bind-Checked="invitation.AccompanyingPersonSelected" Label="Czy zabierasz osobę towarzyszącą?"></MudCheckBox>
    if (invitation.AccompanyingPersonSelected)
    {
        <WarningTextComponent IsItalic="true">Jeśli chcesz, możesz wypełnić dane dotyczące osoby towarzyszącej</WarningTextComponent>
        <MudTextField @bind-Value="invitation.AccompanyingPerson.FirstName" Label="Imię" Variant="Variant.Text"></MudTextField>
        <MudTextField @bind-Value="invitation.AccompanyingPerson.LastName" Label="Nazwisko" Variant="Variant.Text"></MudTextField>
        <GuestNameComponent>@invitation.AccompanyingPerson.FullName</GuestNameComponent>
        <MudCheckBox @bind-Checked="invitation.AccompanyingPerson.Response.AfterParty" Label="Czy osoba towarzysząca wybiera się na poprawiny?"></MudCheckBox>
    }
}

<MudDivider />

<MudTextField T="string" Label="Masz dodatkowe pytania?" Variant="Variant.Text" @bind-Value="invitation.Notes" Lines="5" />

<div style="padding-top:10px;">
    <MudButton OnClick="SaveResponseAsync" Variant="Variant.Filled" Color="Color.Dark">Zapisz</MudButton>
</div>