@page "/Galeria"
@layout GaleryLayout

<PageTitle>Galeria zdjęć</PageTitle>

<div id="text-frame">
    <div class="galery-allura">
        <p>
            Dziękujemy za obecność w tym ważnym dla nas dniu!
        </p>
    </div>
    <div class="galery-times-new-roman">
        <p>Zapraszamy do obejrzenia galerii zdjęć:</p>
        <MudButton Link="@GaleryPathUrl" Variant="Variant.Filled" Style="background-color: #0f0f0f; margin-top: 20px;"
            Color="Color.Dark" Target="_blank">Galeria</MudButton>
    </div>

</div>

<div class="galery-allura" style="color: #ebd9c0" id="signature">
    <p>
        Ania & Łukasz
    </p>
</div>
