@page "/Galeria"
@layout InviterLayout

<PageTitle>Galeria zdjęć</PageTitle>

<div class="allura">
    <p>
        Dziękujemy za obecność tego dnia!
    </p>
</div>

<div class="times-new-roman">
    <p>Zapraszamy do obejrzenia galerii zdjęć:</p>
    <MudButton Link="@GaleryPathUrl" Variant="Variant.Filled" Style="background-color: #063282; margin-top: 20px;" Color="Color.Info" Target="_blank">Galeria</MudButton>
</div>

