@using Inviter.Web.Guest.Components;
<PageTitle>Pobieramy się!</PageTitle>

@*<div style="padding:6% 27%;">*@
    @*<InvitationCardComponent Invitation=@Invitation></InvitationCardComponent>*@
@*</div>*@

<MudGrid>
    <MudItem xs="12">
        <div style="text-align:center">
            <MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick="RedirectToDeclarationFormAsync">Daj znać czy przyjdziesz</MudButton>
        </div>
    </MudItem>
</MudGrid>