@using Inviter.Web.Guest.Components;
<PageTitle>Pobieramy się!</PageTitle>

<div style="width:50%; height: 50%" >
    <InvitationCardComponent Invitation=@Invitation></InvitationCardComponent>
</div>
